<div class="relative w-full h-[25rem] bg-cover bg-top mt-[5rem]"
  style="background-image: url('../../../assets/img/Transição-FrierenFundo.jpeg');">

  <!-- Filtro escuro com Gradient e Blur -->
  <div class="absolute inset-0
              bg-gradient-to-b
              from-black/70
              via-black/50
              to-black/70
              backdrop-blur-sm"></div>

  <div class="relative z-10 flex flex-col items-center justify-center h-full text-white text-center px-4
              sm:px-6
              md:px-8">

    <!-- Logo -->
    <img src="../../../assets/icons/Logo-TemaClaro.svg" alt="Logo" class="inline-block align-middle h-48 w-auto overflow-clip mr-5 relative bottom-8 -translate-y-[-0.7rem]
                sm:h-40
                md:h-36
                lg:h-48">

    <!-- Título -->
    <h1 class="text-1xl font-arcade mb-4 -translate-y-8
              sm:text-xl
              md:text-2xl
              lg:text-3xl" style="letter-spacing: -0.050rem;">
      Otaku Lounge
    </h1>

    <!-- Descrição -->
    <p class="max-w-2xl text-base mb-8 text-gray-200 -translate-y-8
              sm:text-base
              md:text-lg
              px-4
              sm:px-6
              md:px-8">
      Descubra o melhor do anime com reviews, dicas, personagens favoritos e novidades para encontrar sua próxima série
      para maratonar.
    </p>

    <!-- Redes Sociais -->
    <div class="flex space-x-6 -translate-y-8 -translate-x-[0.6rem]
                sm:space-x-4
                md:space-x-6">

      <!-- GitHub -->
      <a href="URL_DO_SEU_GITHUB" target="_blank" class="hover:text-gray-300 text-2xl
                sm:text-3xl
                md:text-4xl">
        <ion-icon name="logo-github" class="text-4xl"></ion-icon>
      </a>

      <!-- LinkedIn -->
      <a href="URL_DO_SEU_LINKEDIN" target="_blank" class="hover:text-gray-300 text-2xl
                sm:text-3xl
                md:text-4xl">
        <ion-icon name="logo-linkedin" class="text-4xl"></ion-icon>
      </a>

      <!-- Instagram -->
      <a href="URL_DO_SEU_INSTAGRAM" target="_blank" class="hover:text-gray-300 text-2xl
                sm:text-3xl
                md:text-4xl">
        <ion-icon name="logo-instagram" class="text-4xl"></ion-icon>
      </a>
    </div>
  </div>
</div>