<div class="mb-[2rem] mt-[3rem]">
  <div class="flex items-center mb-4">
    <span class="text-primary text-[2rem] font-bold" style="line-height: 1;">|</span>
    <h2 class="text-2xl text-white font-bold ml-2 mb-0">Destaques</h2>
  </div>

  <!-- Seleção de Categorias -->
  <div class="flex space-x-4 mb-4">
    <button class="category-button text-white" [ngClass]="{'active': currentCategory === 'animes'}"
      (click)="selectCategory('animes')">
      Animes Populares
    </button>
    <button class="category-button text-white" [ngClass]="{'active': currentCategory === 'filmes'}"
      (click)="selectCategory('filmes')">
      Filmes Populares
    </button>
    <button class="category-button text-white" [ngClass]="{'active': currentCategory === 'outra'}"
      (click)="selectCategory('outra')">
      Músicas Populares
    </button>
  </div>
  <div class="card-list grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-4">
    <div *ngFor="let item of filteredList" class="card-item relative rounded-lg overflow-hidden group cursor-pointer" hoverZoomList>
      <div class="card-image-container h-48 sm:h-56 md:h-64 w-full">
        <img [src]="item.images?.jpg?.large_image_url || item.poster_path" alt="{{ item.title }}"
          class="w-full h-full object-cover object-center" />
      </div>
      <div
        class="card-overlay absolute inset-0 bg-gradient-to-t from-black/70 to-transparent flex flex-col justify-end p-3">
        <div class="card-content text-white md:opacity-0 transition-opacity duration-500 ease">
          <h3 class="text-sm font-bold mb-1">{{ item.title | truncate:20 }}</h3>
          <div class="flex justify-between items-center">
            <span class="text-xs opacity-75">{{ item.type || item.media_type || 'Conteúdo' }}</span>
            <div class="flex items-center">
              <ion-icon name="star" class="text-yellow-400 mr-1 text-xs"></ion-icon>
              <span class="text-xs">{{ item.score || item.vote_average || 'N/A' }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>