@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Arcade Ya';
  src: url('/assets/fonts/ARCADE_N.TTF') format('truetype');  /* Use caminho absoluto se necessário */
}

/* Para navegadores baseados em WebKit (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5); /* Cor da barra de rolagem */
  border-radius: 10px; /* Bordas arredondadas */
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.8); /* Cor da barra de rolagem ao passar o mouse */
}

/* Para Firefox */
* {
  scrollbar-width: thin; /* Largura da barra de rolagem */
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(0, 0, 0, 0.1); /* Cor da barra de rolagem e do fundo */
}